Swarm/*
Airsim/*
!Airsim/PythonClient
Airsim/PythonClient/*
!Airsim/PythonClient/multirotor
Airsim/PythonClient/multirotor/*
!Airsim/PythonClient/multirotor/drop_the_swarm.py
Swarm\characters\Texting While Standing.fbm